@(otentikasi: Otentikasi_Model)
<div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Profil - Edit Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-feedback">
                    <input type="password" id="password_lama" class="form-control" placeholder="Password Lama">
                    <div id="status_password_lama">
                        Silahkan Masukkan Password Lama
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="password_baru" class="form-control" placeholder="Password Baru">
                    <div id="status_password_baru">
                        Silahkan Masukkan Password Baru
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="konfirmasi_password_baru" class="form-control" placeholder="Konfirmasi Password Baru">
                    <div id="status_konfirmasi_password_baru">
                        Silahkan Masukkan Konfirmasi Password Baru
                    </div>
                </div>
                <div id="status_password">
	            </div>
                <div class="modal-footer">
                    <button id="batal" class="btn btn-danger">Batal</button>
                    <button id="simpan" class="btn btn-primary">Simpan</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
        <div class="progress" id="progress_wait">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; height: 40px">
            </div>
        </div>
    </div>
        <!-- /.modal -->
    <script type="text/javascript">
            function checkInput(){
                $("#simpan").attr("disabled", true);
                if($("#password_lama").val() != ""){
                    $('#status_password_lama').html("<i class=\"fa fa-fw fa-check\"></i>");
                }else{
                    $('#status_password_lama').html("Silahkan Masukkan Password Lama");
                }

                if($("#password_baru").val() != ""){
                    $('#status_password_baru').html("<i class=\"fa fa-fw fa-check\"></i>");
                }else{
                    $('#status_password_baru').html("Silahkan Masukkan Password Baru");
                }

                if($("#konfirmasi_password_baru").val() != ""){
                    $('#status_konfirmasi_password_baru').html("<i class=\"fa fa-fw fa-check\"></i>");
                }else{
                    $('#status_konfirmasi_password_baru').html("Silahkan Masukkan Konfirmasi Password Baru");
                }

                if(($("#password_lama").val() != "") && ($("#password_baru").val() != "") && ($("#konfirmasi_password_baru").val() != "")){
                    if($("#password_baru").val() == $("#konfirmasi_password_baru").val()){
                        $("#simpan").attr("disabled", false);
                        $('#status_password').html("Password Sesuai <i class=\"fa fa-fw fa-check\"></i>");
                        return true;
                    }else{
                        $('#status_password').html("Password Tidak Sesuai <i class=\"fa fa-fw fa-close\"></i>");
                        return false;
                    }
                }else{
                    $('#status_password').html("");
                    return false;
                }
            }

            function initEdit(){
                $("#simpan").attr("disabled", true);
                $("#progress_wait").hide();
                checkInput();
            }
            function _showEdit(){
                $("#modal-default").modal("show");
            }

            function showEdit(){
                setTimeout(_showEdit, 1000);
            }

            function hideEdit(){
                $("#modal-default").modal("hide");
            }

            $("#password_lama").on('input', function(e) {
                checkInput();
            });

            $("#password_baru").on('input', function(e) {
                checkInput();
            });

            $("#konfirmasi_password_baru").on('input', function(e) {
                checkInput();
            });

            $("#simpan").click(function() {
                if(checkInput() == true) {
                    $("#batal").attr("disabled", true);
                    $("#progress_wait").show();
                    $.ajax({
                        url: "@routes.Profil.index()",
                        data: {edit_password: $("#password_baru").val(), password_lama: $("#password_lama").val()},
                        type: "POST",
                        async: false,
                        success: function (data) {
                            if (data == "true") {
                                $("#progress_wait").hide();
                                hideEdit();
                            }else
                            if (data == "false") {
                                $("#progress_wait").hide();
                                $("#batal").attr("disabled", false);
                                alert("Password Lama Salah.");
                            }
                        }
                    });
                }
            });

            $("#batal").click(function() {
                $("#modal-default").modal("hide");
            });
    </script>