@(id: String, nama: String, jumlah_field: String)
<tr id="row_channel_@id">
    <td>@nama</td>
    <td><button id="deskripsi_channel_@id" class="btn bg-olive margin btn-sm">Lihat</button></td>
    <td><button id="access_key_channel_@id" class="btn bg-olive margin btn-sm">Lihat</button></td>
    <td>@jumlah_field</td>
    <td><button id="edit_channel_@id" class="btn bg-purple margin btn-sm">Edit</button>&nbsp;<button id="hapus_channel_@id" class="btn bg-maroon margin btn-sm">Hapus</button></td>

    <script type="text/javascript">
            $(function () {
                $("#row_channel_@id").hide();
                $("#row_channel_@id").fadeIn(1000);
            });
    </script>
</tr>